<html>
    <body>
    <h1>Register</h1>
    <form (ngSubmit)="onSubmit()" #pacijentForm="ngForm">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" required name="ime" #ime="ngModel"  [(ngModel)]="korisnik.ime" [ngClass]="{'form-control':true,
                    'is-invalid': !ime?.valid && !ime?.touched,
                    'is-valid': ime?.valid && ime?.touched}" ></td>
                    <td *ngIf="ime?.errors?.required && ime?.touched"> Requierd field
                    </td>
               
            </tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" required name="prezime" #prezime="ngModel"  [(ngModel)]="korisnik.prezime" [ngClass]="{'form-control':true,
                    'is-invalid': !prezime?.valid && !prezime?.touched,
                    'is-valid': prezime?.valid && prezime?.touched}" ></td>
                    <td *ngIf="prezime?.errors?.required && prezime?.touched"> Requierd field
                    </td>
            </tr>
            <tr>
                    <td>Email</td>
                   <td><input type="email" required name="email" #email="ngModel" [(ngModel)]="korisnik.email" [ngClass]="{'form-control':true,
                                'is-invalid': !email?.email && !email?.touched,
                                'is-valid': email?.valid && email?.touched}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>

                        <td *ngIf="email?.errors?.required && email?.touched"> Requierd field</td>
                        <td *ngIf="email?.errors?.pattern && email?.touched"> E-mail not valid</td>
                </tr>
                <tr>
                        <td>Password</td>
                        <td><input type="password" required name="password" #password="ngModel" [(ngModel)]="korisnik.password" [ngClass]="{'form-control':true,
                            'is-invalid': !password?.valid && !password?.touched,
                            'is-valid': password?.valid && password?.touched}" minlength="8"></td>
                        <td *ngIf="password?.errors?.required && password?.touched"> Requierd field</td>
                        <td *ngIf="password?.errors?.minlength && password?.touched"> Password must contain at least 8 characters</td>
                    </tr>
                   
                            <tr>
                            <td><input type="submit" value="Submit"></td>
                                </tr>
        </table>
    </form>
  </body>  
</html>