
<!-- <h1>Welcome to PKI </h1>
<div class="topnav">
   
        <a routerLink="/registracija" style="margin-left: 5px;" class="btn btn-info">Register</a>
        <a routerLink="/login"  style="margin-left: 5px;" class="btn btn-info">Log in</a>
        <a routerLink="/sertifikat"  style="margin-left: 5px;" class="btn btn-info">New certificate</a>
        <a routerLink="/listaSertifikata"  style="margin-left: 5px;" class="btn btn-info" >All certificates</a>
     
</div> -->
<div>

        <router-outlet></router-outlet>
</div>
